
.section {
    width: 100%;
    max-width: 250px;
    border: 1px solid #000;
    padding: 30px;
    border-radius: 8px;
    text-align: left;
    text-transform: uppercase;
    font-size: 13px;
    position: relative;
    box-shadow: 5px 0 5px -2px #ccc;
}

.section .workflowName {
    border: 1px solid #000;
    padding: 10px;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

.section .workflowStatus {
    padding-left: 10px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    justify-content: space-between;
}

.workflowStatus .icon {
    background: #14bc4f;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchFilter {
    display: flex;
    width: 100%;
}

.icon.completed {
    background-color: #14bc4f;
}

.icon.inprogress {
    background-color: #007eff;
}

.icon.pending {
    background-color: #ccc;
}

.section .deleteIcon {
    width: 40px;
    height: 40px;
    background: #fd072c;
    border-radius: 100%;
    position: absolute;
    top: -20px;
    right: -20px;
    cursor: pointer;
}

.createSection .icon {
    position: absolute;
    top: -20px;
    right: -20px;
}

.checkMark {
    transform: rotate(45deg);
    height: 10px;
    width: 5px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
}

.createSections .modal {
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -240px;
    z-index: 2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal .workFlowName {
    margin-bottom: 30px;
}

.modal .nodeBtn {
    max-width: 150px;
}