.modal {
    padding: 30px;
    width: 100%;
    max-width: 480px;
    text-align: center;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 6px #ccc;
    align-items: center;
    margin: 50px auto 0;
    background-color: #fff;
}

.modal .title {
    font-size: 16px;
    font-weight: 500;
}

.modal form {
    width: 100%;
}

.modal .error {
    font-size: 14px;
    color: #ff0000;
}

.form-group {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.form-group.column {
    flex-direction: column;
}

.form-group input {
    padding: 10px 0 10px 50px;
    border: 1px solid #ccc;
    max-width: 425px;
}

.form-group input.invalid {
    border-color: red;
}

.form-group input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.form-group input,
.modal button {
    width: 100%;
    border-radius: 5px;
}

.modal button {
    padding: 10px 0;
    background-color: #3a5cd9;
    border: none;
    box-shadow: 3px 3px 5px 6px #ccc;
    color: #fff;
}

